<nav class="container navbar navbar-expand-lg navbar-dark bg-dark d-flex justify-content-center" style="flex: 1;">
  <div class="navbar-brand" (click)="goToHome()">Volleyball</div>
  <div class="collapse navbar-collapse navbar-dark bg-dark d-flex justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav dropdown-menu-dark">
      <li class="nav-item dropdown">
        <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          Menu
        </button>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="showAnnouncements()" >Announcements</a>
          <a class="dropdown-item" (click)="showRules()">Rules</a>
          <a class="dropdown-item" (click)="showFixture()">Fixture</a>
          <a class="dropdown-item">Players</a>
          <a class="dropdown-item" >Captains</a>
          <a class="dropdown-item" >Teams</a>
          <a class="dropdown-item">Score</a>
        </div>
      </li>
    </ul>
    <div (click)="logout()">
      Logout
    </div>
  </div>
</nav>