<nav class="container navbar navbar-expand-lg navbar-light bg-light d-flex justify-content-center" style="flex: 1;">
  <div class="navbar-brand">Volleyball</div>
  <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Menu
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" (click)="showAnnouncements()" >Announcements</a>
          <a class="dropdown-item" (click)="showAnnouncements()">Rules</a>
          <a class="dropdown-item" >Fixture</a>
          <a class="dropdown-item">Players</a>
          <a class="dropdown-item" >Captains</a>
          <a class="dropdown-item" >Teams</a>
          <a class="dropdown-item">Score</a>
        </div>
      </li>
    </ul>
  </div>
</nav>