<div>
    <div class="container" style="background-color: black; width: 30%; border-radius: 30px; color: white; padding: 40px;">
        <div class="row" style="font-size: x-large;">
            {{pollDay}} {{pollDate}} {{pollMonth}}, {{pollYear}} at {{pollTime}}
        </div>
        <div class="row">
            {{pollLocation}}
        </div>
        <br>
        <div class="d-flex justify-content-center">
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
                <input type="radio" class="btn-check" name="options" id="btncheck1" autocomplete="off">
                <label class="btn btn-outline-success" for="btncheck1" style="width: 90px; border-color: white; color:lightgreen;">Yes</label>
              
                <input type="radio" class="btn-check" name="options" id="btncheck2" autocomplete="off">
                <label class="btn btn-outline-success" for="btncheck2" style="width: 90px; border-color: white; color:lightgreen;">No</label>
              
                <input type="radio" class="btn-check" name="options" id="btncheck3" autocomplete="off">
                <label class="btn btn-outline-success d-flex justify-content-center" for="btncheck3" style="width: 90px; border-color: white; color:lightgreen;">Maybe</label>
              </div>
        </div>
        <br>
        <hr>
        <div class="row">
            Location:
        </div>
        <div style="width: 100%; height: 200px; text-align: left;">
            <a target="_blank" href={{pollMap}}><img style="object-fit: fill; overflow: hidden; width: 100%; height: 100%;" src={{pollImage}} alt="Cedar Park Recreation Center"></a>
        </div>
    </div>
</div>